<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>



<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $http.get("http://192.168.1.208:9000/gettemp")
  .then(function(response) {
      response.document.body();
      //$scope.myWelcome = response.data;
      //this.data = JSON.stringify(response.json());
  });
});
</script>


<div ng-app="myApp" ng-controller="myCtrl"> 

    <p>Today's welcome message is:</p>
    
    <h1>{{myWelcome}}</h1>
    
    </div>

</body>
</html>